[Unit]
After=mavlink_router.service

[Service]
Type=simple
User=hiver
Environment="ENV_SCRIPT=/home/hiver/bees/scripts/robot.env.bash"
ExecStart=/home/hiver/bees/scripts/start/robot/start_mavproxy.bash

[Install]
WantedBy=default.target