[Unit]
After=ros.service

[Service]
Type=simple
Environment="ENV_SCRIPT=/home/hiver/workspace/hive/scripts/robot.env.bash"
ExecStart=/home/hiver/workspace/hive/scripts/start/robot/start_mavros_node.bash

[Install]
WantedBy=default.target