[Unit]
After=ros.service camera.service mavros.service

[Service]
Type=simple
Environment="ENV_SCRIPT=/home/hiver/bees/scripts/robot.env.bash"
ExecStart=/home/hiver/bees/scripts/start/robot/start_record.bash

[Install]
WantedBy=default.target