[Unit]
After=ros.service camera.service mavros.service gps.service

[Service]
Type=simple
Environment="ENV_SCRIPT=/home/hiver/workspace/hive/scripts/robot.env.bash"
ExecStart=/home/hiver/workspace/hive/scripts/start/robot/start_record.bash
ExecStop=/home/hiver/workspace/hive/scripts/start/robot/stop_record.bash

[Install]
WantedBy=default.target