[Unit]
After=network.target wpa_supplicant.service

[Service]
Type=simple
Environment="ENV_SCRIPT=/home/hiver/bees/scripts/robot.env.bash"
ExecStart=/home/hiver/bees/scripts/start/robot/start_ros.bash

[Install]
WantedBy=default.target