[Unit]
After=network.target

[Service]
Type=simple
Environment="ENV_SCRIPT=/home/hiver/workspace/hive/scripts/robot.env.bash"
ExecStart=/home/hiver/workspace/hive/scripts/start/robot/start_ros.bash

[Install]
WantedBy=default.target